body{
    background-color: rgb(29, 36, 75);
}
#formulario{
   margin-left: 37%;
   background-color: rgb(141, 142, 194);
   width: 300px;
   padding: 2%;
   border-radius: 15px;
}
input{
    border-radius: 15% ;
    margin-bottom: 15px;
    width: 100%;    
    height: 30px;

}
label{
    text-shadow: 3px 1px 1px rgb(202, 202, 202);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type=text]{
  background-color: rgb(178, 178, 182);
}