body{
    background-color: rgb(29, 36, 75);
    text-align: center;
    color: antiquewhite;
}
#header{
    background-color: transparent;
    background: url(u695gmx8.bmp) no-repeat ;
    background-size: contain;
    height: 75px;
    width: 370px;
}
header{
    background-color: blanchedalmond;
    height: 75  px;
} 
h1{
    text-align: center;
    color: wheat;
}
table, th, td {
    border: 1px solid black;
  }
  a{
    font-size: 25px;
    color: blanchedalmond;
    text-decoration: none;
  }
  
